#triangle-up { 
	position: relative;
	bottom: -100px;
 	width: 0;  
 	height: 0; 
 	border-left: 200px solid transparent; 
 	border-right: 200px solid transparent; 
 	border-bottom: 100px solid green; 
 	float: right;
    left: -300px;
 }

#square { 
	position: relative;
	top: 200px;
	width: 400px; 
	height: 150px; 
	background: green; 
	float: right;
	right: -100px;
} 
#heart { 
	position: relative; 
	width: 100px; 
	height: 90px; 
	float: right;
	} 
#heart:before, #heart:after { 
	position: absolute; 
	content: ""; 
	left: 50px; 
	top: 0; 
	width: 50px; 
	height: 80px; 
	background: green; 
	-moz-border-radius: 50px 50px 0 0; 
	border-radius: 50px 50px 0 0; 
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg); 
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
	-webkit-transform-origin: 0 100%; 
	-moz-transform-origin: 0 100%; 
	-ms-transform-origin: 0 100%; 
	-o-transform-origin: 0 100%; 
	transform-origin: 0 100%; 
	} 
#heart:after { 
	left: 0; 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg); 
	transform: rotate(45deg); 
	-webkit-transform-origin: 100% 100%; 
	-moz-transform-origin: 100% 100%; 
	-ms-transform-origin: 100% 100%; 
	-o-transform-origin: 100% 100%; 
	transform-origin :100% 100%; 
} 
 #pacman { 
 	position: relative;
 	top: 70px;
 	width: 0px; 
 	height: 0px; 
 	border-right: 200px solid transparent; 
 	border-top: 200px solid red; 
 	border-left: 200px solid red; 
 	border-bottom: 200px solid red; 
 	border-top-left-radius: 200px; 
 	border-top-right-radius: 200px; 
 	border-bottom-left-radius: 200px; 
 	border-bottom-right-radius: 200px;
 	left: 100px;
 }
 