* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
	position: relative;
	background-color: #03FCCB;
	height: 700px;
	width: 1000px;
}
#heart { 
    position: relative; 
    width: 100px; 
    height: 234x; 
    left: 679px;
} 
#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 400px; 
    width: 50px; 
    height: 80px; 
    background: red; 
    -moz-border-radius: 50px 50px 0 0; 
    border-radius: 50px 50px 0 0; 
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%; 
    -moz-transform-origin: 0 100%; 
    -ms-transform-origin: 0 100%; 
    -o-transform-origin: 0 100%; 
    transform-origin: 0 100%; 
} 
#heart:after { 
    left: 0; 
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
    transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%; 
    -moz-transform-origin: 100% 100%; 
    -ms-transform-origin: 100% 100%; 
    -o-transform-origin: 100% 100%; 
    transform-origin :100% 100%; 
} 

.square { 
	position: relative;
    width: 442px;
    height: 180px;
    background: #FC8303;
    float: right;
    right: 100px;
    bottom: -330px;
    left: -52px;
}
 .techo {     
    border-bottom: 159px solid red;
    border-left: 234px solid transparent;
    border-right: 234px solid transparent;
    height: 6px;
    width: 247px;
    float: left;
    bottom: -171px;
    left: 493px;
    position: relative;
}
.puerta{
	width: 100px;
    height: 150px;
    left: 558px;
    bottom: -360px;
    background-color: yellow;
    position: relative;
}
.chimenea{
    width: 48px;
    height: 86px;
    left: 807px;
    bottom: 45px;
    background-color: #a05d07;
    position: relative;
}
.humo { 
    position: absolute;
    width: 80px;
    height: 80px;
    left: -32px;
    top: -90px;
    background: #adad7d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
 }
 .humo #dos { 
    position: absolute;
    width: 80px;
    height: 80px;
    left: -32px;
    top: -90px;
    background: #adad7d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
 }
  .humo #tres { 
    position: absolute;
    width: 80px;
    height: 80px;
    left: -32px;
    top: -90px;
    background: #adad7d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
 }
.ventana{
    width: 170px;
    height: 92px;
    left: 725px;
    bottom: -220px;
    background-color: yellow;
    position: relative;
}
.pasto{
    width: 1000px; 
    height: 100px;
    right: 0px;
    bottom: -600px;
    left: 0px;
    position: relative;
    background-color: green;
 }
 .sol { 
 	position: absolute;
 	width: 200px; 
 	height: 200px; 
 	left: 30px;
 	top: 30px;
 	background: yellow; 
 	-moz-border-radius: 50px; 
 	-webkit-border-radius: 50px; 
 	border-radius: 100px; 
 }
