* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
	position: relative;
	background-color: #03FCCB;
	height: 600px;
	width: 1000px;
}

.square { 
	position: relative;
    width: 442px;
    height: 180px;
    background: #FC8303;
    float: right;
    right: 100px;
    bottom: -330px;
    left: -52px;
}
 .techo {     
    border-bottom: 159px solid red;
    border-left: 234px solid transparent;
    border-right: 234px solid transparent;
    height: 6px;
    width: 247px;
    float: left;
    bottom: -171px;
    left: 493px;
    position: relative;
}
.puerta{
	width: 100px;
    height: 150px;
    left: 558px;
    bottom: -360px;
    background-color: yellow;
    position: relative;
}
.chimenea{
    width: 48px;
    height: 86px;
    left: 807px;
    bottom: 55px;
    background-color: #a05d07;
    position: relative;
}
.humo { 
    position: absolute;
    width: 80px;
    height: 80px;
    left: -32px;
    top: -90px;
    background: #adad7d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
 }
.ventana{
    width: 170px;
    height: 92px;
    left: 725px;
    bottom: -266px;
    background-color: yellow;
    position: relative;
}
.pasto{
    width: 1000px; 
    height: 100px;
    right: 0px;
    bottom: -600px;
    left: 0px;
    position: relative;
    background-color: green;
 }
 .sol { 
 	position: absolute;
 	width: 200px; 
 	height: 200px; 
 	left: 30px;
 	top: 30px;
 	background: yellow; 
 	-moz-border-radius: 50px; 
 	-webkit-border-radius: 50px; 
 	border-radius: 100px; 
 }
